<div *ngFor="let post of posts" >
  <div class="card mb-3" style="width: 90%; margin-left: 10%;">
    <div class="row g-0">
      <app-vote-button [post] = "post.voteCount" class="col-md-1" ></app-vote-button>
      <div class="col-md">
        <div class="card-body">
          <div class="card-header">
            <span class="subreddit-info">
              <span class="subreddit-text"><a class="posturl" routerLink="">{{post.subredditName}}</a></span>
              <span> . Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
              <span> . {{post.duration}}</span>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text"><a class="postname" href="{{post.url}}">{{post.postName}}</a></p>
            <h5 class="card-title" [innerHTML]="post.description"></h5>
            <span>
              <a class="btnCommments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Comments({{post.commentCount}})
              </a>
              <button class="login" (click)="goToPost(post.id)">
                Read Post
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
